.navbar {
  background-color: white;
  width: 100%;
  li a {
    color: black !important;
  }

  li a:hover {
    color: rgb(78, 183, 245) !important;
  }
  .menu {
    text-align: center;
  }

  .fa-envelope {
    font-size: 2em;
    color: #86E78C;
    margin-right: 20px;
  }

  .fa-shopping-bag {
    @extend .fa-envelope;
  }

  .fa-youtube {
    color: #f32929;
    margin-left: 20px;
  }

  .fa-facebook {
    margin-left: 20px;
  }

  .navbar-toggler-icon {
    color: black !important;
  }

  .fa-envelope:hover{
    color: #d16ba5;
  }
}

.background {
  background-image: linear-gradient(
    to left bottom,
    #d16ba5,
    #ee7386,
    #f58966,
    #e7a752,
    #c8c556,
    #b0d46a,
    #95e286,
    #74eea8,
    #68f2bc,
    #5ff6cf,
    #5cf9e1,
    #5ffbf1
  );
}
