.navbar {
  background-color: white;
  width: 100%;
  li a {
    color: black !important;
  }

  li a:hover {
    color: rgb(78, 183, 245) !important;
  }
  .menu {
    text-align: center;
  }

  .fa-envelope {
    font-size: 2em;
    color: silver;
    margin-right: 20px;
  }

  .fa-shopping-bag {
    @extend .fa-envelope;
  }

  .fa-youtube {
    color: rgb(255, 0, 0);
    margin-left: 20px;
  }

  .fa-facebook {
    margin-left: 20px;
  }

  .navbar-toggler-icon {
    color: black !important;
  }
  
}

.background {
  background-image: radial-gradient(circle, #55c888, #4ec692, #49c49c, #49c1a4, #4cbeaa);
}
